/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("http://getwallpapers.com/wallpaper/full/c/7/1/60751.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position-x: 1%;
}